$backColor: rgba(97, 97, 97, 0.12);

.nav {
  grid-area: nav;
  padding: 10px;
  max-height: 600px;

  border: 1px solid $backColor;
  border-radius: 10px;
  background-color: $backColor;

  ul{
    list-style: none;
  }
  li{
    margin: 10px 0;
  }
  a{
    color: #616161;
    text-decoration: none;
  }
  a.active{
    color: #000;
    font-weight: 600;
  }
}

.friends_header{
  margin: 20px 0 10px 0;
  font-weight: 600;
  font-style: italic;
}

.friends_list{
  display: flex;
  &>:nth-child(1n){
    margin-right: 10px;
  }
  img{
    width: 50px;
  }
}
