.dialog{
  margin-bottom: 10px;
  &:last-child{
    margin-bottom: 0;
  }

  img{
    width: 50px;
  }
}

a{
  text-decoration: none;
}

.dialog_name{
  color: #616161;
}

.active{
  color: #000;
  font-weight: 600;
}

